# Este archivo contiene las variables de entorno necesarias para que la aplicación funciene.
# Para usarlo, copia este archivo a '.env' y rellena los valores.
# El archivo 'env' NO debe ser subido al controlador de versiones (Git).

# Puerto en el que el servidor Express escuchará las peticiones.
# Por defecto, si no se especifica, la aplicación podría usar un valor predeterminado (ej. 3000).
PORT=3000