00_r/**
node_modules/**
.env
# Ignorar contenido 
public/assets/thumbnails/*
public/assets/video/*/origen/*
public/assets/video/*/hls/*
public/assets/video/*/thumbnail/*

# Mantener estructura de carpeta
!public/assets/video/*/origen/.gitkeep
!public/assets/video/*/hls/.gitkeep
!public/assets/video/*/thumbnail/.gitkeep