00_r/**
node_modules/**
.env
dist/*
# Ignorar contenido 
public/assets/thumbnails/*
public/assets/videos/*/origen/*
public/assets/videos/*/hls/*
public/assets/videos/*/thumbnail/*

# Mantener estructura de carpeta
!public/assets/videos/*/origen/.gitkeep
!public/assets/videos/*/hls/.gitkeep
!public/assets/videos/*/thumbnail/.gitkeep